:root{
    --game-border-color: 3px solid black;
}
html{
    width:100%;
    height: 100%;
}

header{
    grid-area: header;
    width: 100%;
    height: 100%;
    font-size: 4em;
    text-align: center;
}

body {
    display: grid;
    grid-template-areas:
        "header header header header header"
        "none none none none none"
        ". . board board ."
        ". . board board .";
    grid-template-columns: 29% 11% 6% 12% 1fr;
    grid-template-rows: 11% 17% 15% 24% 7% 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #b3e5fc;
}

.player-select{
    display:grid;
    grid-template-areas:
    ". title title ."
    ". human-button ai-button ai-button"
    ". human-button ai-button ai-button";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: board;
    width: 100%;
    height: 100%;
    background: transparent;
}

.player-card{
    grid-area: title;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
.player-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
    font-size:23px;
    background: none;
    border: none;
    width: 49%;
    height: 20%;
    margin: 0;
    padding: 0;
}

.player-buttons:hover {
    /* transform: translateY(2px); */
    text-shadow: 0 -1px 0 rgb(51, 51, 51);
}


#restart-title{
    grid-area: title;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#restart-button{
    grid-area: restart-button;
    height: 50%;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
}

#play-again{
    display:none;
    grid-template-areas:
    "title title title title"
    ". . . ."
    ". restart-button restart-button .";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-area: board;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid black;
    box-shadow: -47px 19px 2px -2px rgb(0 0 0 / 24%);
}

.disappear{
    animation-name: disappear;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.disappear-button{
    cursor: default;
    animation-name: disappear-button;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.appear{
    animation-name: appear;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.appear-button{
    animation-name: appear-button;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes appear {
    0% {box-shadow: -19px 21px 4px -21px rgba(0, 0, 0, 0); border: 0px solid rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0);}
    100% {box-shadow: -47px 19px 2px -2px rgb(0 0 0 / 24%);;border: 1px solid black;
        color: black;}
}

@keyframes appear-button {
    0% {border: 0px solid rgba(0, 0, 0, 0);color: rgba(0, 0, 0, 0);}
    100% {border: 1px solid black; color: black;}
}

@keyframes disappear {
    0% {box-shadow: -47px 19px 2px -2px rgb(0 0 0 / 24%);;border: 1px solid black;
        color: black;}
    100% {box-shadow: -19px 21px 4px -21px rgba(0, 0, 0, 0); border: 0px solid rgba(0, 0, 0, 0);
        color: rgba(0, 0, 0, 0); }
}

@keyframes disappear-button {
    0% {border: 1px solid black;color: black; }
    100% {border: 0px solid rgba(0, 0, 0, 0);color: rgba(0, 0, 0, 0); }
}

#human-button{
    grid-area: human-button;
}
#ai-button{
    grid-area: ai-button;
}
#gameboard-background{
    grid-area: board;
    width: 100%;
    height: 100%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(223, 165, 165);   
    
}
.gameboard{
    font-size: 3em;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gameboard-disappear{
    animation-name: gameboard-disappear;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes gameboard-disappear{
    0%{background-color: rgb(223, 165, 165)}
    100%{background-color: #b3e5fc}
}
.grid-disappear{
    font-size: 3em;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    animation-name: grid-disappear;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes grid-disappear{
    0%{}
    100%{background-color: #b3e5fc}
}
#grid-2, #grid-5{
    border-right: var(--game-border-color);
    border-left: var(--game-border-color);
    border-bottom: var(--game-border-color);
}

#grid-1, #grid-3, #grid-4, #grid-6{
    border-bottom: var(--game-border-color);
}

#grid-8{
    border-right: var(--game-border-color);
    border-left: var(--game-border-color);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}